.header-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-div-header{
    display: flex;
    justify-content: space-between;
    min-width: 12%;
    margin-left: 60%;
}

.header-buttons{
    display: flex;
    justify-content: space-between;
    min-width: 7%;
}

.input-search-header{
    border: 0px;
    border-bottom: solid;
    background-color: transparent;
    border-color: rgba(125, 125, 125, 1);
}

.input-search-header:focus{
    outline: none;
}

button{
    background-color: transparent;
    border: 0px;
}

.profile-modal{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 80%;
    top: 10%;
    background-color: rgba(255, 253, 245, 1);
}

.profile-modal-img{
    margin-left: 30%;
}

.enter-btn-modal{
    /* margin-top: 1vh; */
    height: 3vh;
    width: 5vw;
    font-size: 1.2em;
    background-color: rgba(81, 74, 126, 1);
    color: rgba(255, 253, 245, 1);
    margin-left: 25%;
    margin-bottom: 2vh;
}

.enter-btn-modal:hover{
    background-color: rgba(255, 253, 245, 1);
    color: rgba(81, 74, 126, 1);
    border: solid;
    border-color: rgba(81, 74, 126, 1);
    border-width: 1px;
}

.modal-cart, .like-modal, .view-modal, .exit-account{
    margin-left: 1vw;
    margin-bottom: 2vh;
}

.hr-modal{
    margin-bottom: 2vh;
}

.filter-header{
    display: none;
    background-color: rgba(18, 18, 18, 1);
    min-width: 20%;
    min-height: 100%;
    position: absolute;
    top: 5%;
}

.logo-filter{
    margin-left: 1vw;
}

.filter-text{
    margin-left: 1vw;
    margin-top: 2vh;
}

.text-filters-divs{
    display: flex;
    color: rgba(255, 253, 245, 1);
    font-family: 'Bad Script', cursive;
    font-family: 'Roboto', sans-serif;
}

.right-text-filters{
    margin-left: 1vw;
}

.user-image-profile-modal{
    border-radius: 50%;
    width: 4vw;
    height: 8vh;
    object-fit: cover;
}

.name-user-auth{
    margin-top: 2vh;
    display: none;
}