.feedback{
    margin-top: 10%;
}

.feedback-head-text{
    font-family: 'Bad Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.feedback-head-text{
    margin-bottom: 5%;
}

.user-feedback{
    display: flex;
    min-width: 30%;
    max-width: 40%;
    margin-right: 2vw;
}

.feedback-div{
    overflow: auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.feedback-user-footer{
    display: flex;
    justify-content: space-between;
}

.rating{
    display: flex;
    max-width: 30%;
    min-width: 30%;
}

.feedback-user-text{
    color: rgb(125, 125, 125);
}

.date-feedback{
    color: rgb(81, 74, 126);
}

.user-feedback-name{
    font-weight: 400;
}

.feedback-add-button{
    margin-top: 5%;
    background-color: rgba(81, 74, 126, 1);
    color: white;
    min-width: 10%;
    min-height: 4vh;
}

.feedback-add-button:hover{
    background-color: rgba(255, 253, 245, 1);
    color: rgb(81, 74, 126);
    border: solid;
    border-width: 1px;
    border-color: rgb(81, 74, 126) ;
}

.text-button-feedback{
    font-weight: 100;
    font-size: 1em;
}

.arrow-btn-feedback:hover{
    .arrow-feedback{
        width: 120%;
    }
}

.feedback-user-img{
    border-radius: 50%;
    width: 5vw;
    height: 10vh;
    object-fit:cover;
}

.feedback-user-information{
    margin-left: 1vw;
}