.left-information-welcome{
    max-width: 40%;
}

.welcome-page-div{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.welcome-text-coctail {
    color: rgba(81, 74, 126, 1);
    font-family: 'Bad Script', cursive;
}

.welcome-text{
    font-family: 'Bad Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 4em;
}

.welcome-subtext{
    color: rgba(125, 125, 125, 1);
    font-size: 100%;
    font-family: 'Bad Script', cursive;
    font-family: 'Roboto', sans-serif;
}

.second-image-welcome{
    margin-top: 10%;
}