.cooperation{
    margin-top: 10%;
    font-family: 'Bad Script', cursive;
    font-family: 'Roboto', sans-serif;
}

.cooperation-head-text-p{
    margin-top: 5%;
    font-size: 1.3em;
    color: rgba(125, 125, 125, 1);
}

.cooperation-header-text{
    font-weight: 300;
    font-size: 3em;
}

.coop-things{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.coop-thing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 15%;
}

.coop-thing-head-text{
    font-size: 1.7em;
    max-width: 90%;
}

.coop-thing-text{
    color: rgba(125, 125, 125, 1);
}

.advantages{
    font-size: 1.7em;
}

.adventages-div{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.adventage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adventage-text{
    color: rgba(125, 125, 125, 1);
}